<div class="wrapper">
  <button class="btn btn-blue" (click)="show=true">إضافة مهمة +</button>

  <div class='app-calendar'>
    <full-calendar #calendar defaultView="dayGridMonth" [header]="{
      left: 'prev,next',
      center: 'title',
      right: 'dayGridMonth,timeGridDay,listWeek'
    }" eventLimit="true" [plugins]="calendarPlugins" [weekends]="true" [events]="eventsList$ | async"
      (eventClick)="eventClicked($event)"></full-calendar>
  </div>
</div>

<div class="modal" *ngIf="show">
  <div class="dialog">
    <h3 class="title center" style="flex:0" *ngIf="!selectedValues">مهمة جديدة</h3>
    <h3 class="title center" style="flex:0" *ngIf="selectedValues">تعديل مهمة</h3>
    <span class="close-icon" (click)="show=false;selectedValues=null">X</span>
    <div class="body">
      <app-form-builder [form]="form" (save)="saveForm($event)" [values]="selectedValues"></app-form-builder>
    </div>
    <div class="footer">
      <button *ngIf="selectedValues" (click)="deleteItem(selectedValues.id)" class="btn btn-red">حذف المهمة</button>
    </div>
  </div>
</div>